---
import PageLayout from '../layouts/BaseLayout.astro'
import Certifications from '@/components/Certifications.astro'
import About from '@/components/About.astro'
import Me from '@/components/Me.astro'
import Experience from '@/components/Experience.astro'
import Education from '@/components/Education.astro'
import Projects from '@/components/Projects.astro'
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='flex w-full flex-col gap-y-10'>
		<Me />
		<About />
		<Projects />
		<Experience />
		<Certifications />
		<Education />
	</div>
</PageLayout>

<!-- 
const MAX_POSTS = 10
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)

{
			allPostsByDate.length > 0 && (
				<Section title='Posts'>
					<ul class='flex flex-col gap-y-2'>
						{allPostsByDate.map((p) => (
							<li class='flex flex-col gap-x-2 sm:flex-row'>
								<PostPreview post={p} />
							</li>
						))}
					</ul>
				</Section>
			)
		} -->
