---
import Section from './Section.astro'
---

<Section title='About'>
	<p class='text-muted-foreground'>
		Full Stack Developer boasting over 5+ years of experience, specializing in technologies such as
		JavaScript, and Python. My journey includes dynamic contributions to banking,
		telecommunications, and oil & gas industries, where my innovative approach has left a lasting
		impact.
	</p>
</Section>
